<div class="main-nav">
  <nav class="circle">
    <h1 routerLink="/">Ecomm</h1>
    <ng-container [ngSwitch]="menyType">
      <ng-container *ngSwitchCase="'default'">
        <input
          type="text"
          id="input_search"
          class="search"
          [(ngModel)]="inputTypedText"
          #input_search
          (blur)="searchResulthide()"
          (input)="getSerchSuggesions()"
        />
        <button class="serach-btn1" (click)="SearchData(input_search)">Search</button>
        <div class="isResultFound" *ngIf="isResultFound">
          <p>No Result Found</p>
        </div>
        <!-- {{isResultFound | async}} -->
        <div class="search-container" *ngIf="inputTypedText">
          <div *ngFor="let item of searchSuggestionData">
           <a [routerLink]="['/details',item.id]" (mousedown)="onMoveToDetails(item.id)"><td>{{item.name}}</td></a>
          </div>
        </div>
        <ul class="snip1189">
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['/auth-seller']">Seller</a></li>
          <li><a href="">Login</a></li>
          <li><a [routerLink]="['/user-auth']">SignUp</a></li>
          <li><a href="">Card(0)</a></li>
        </ul>
      </ng-container>

      <ul *ngSwitchCase="'seller'" class="seller-header snip1189">
        <li><a [routerLink]="['/seller-home']">Product List</a></li>
        <li><a [routerLink]="['/seller-add']">Add Seller</a></li>
        <li><a href="" (click)="sellerLogout()">Logout</a></li>
        <li>
          <a href="">{{ sellerName }}</a>
        </li>
      </ul>

      <ul *ngSwitchCase="'userData'" class="seller-header snip1189">
        <li><a [routerLink]="['/seller-home']">Product List</a></li>
        <li><a [routerLink]="['/seller-add']">Add User</a></li>
        <li><a [routerLink]="['/user-auth']">SignUp</a></li>
        <li><a href="" (click)="userLogout()">Logout</a></li>
        <li>
          <a href="">{{ userName }}</a>
        </li>
      </ul>
    </ng-container>
  </nav>
</div>
