.seller-heading {
  text-align: center;
  color: blueviolet;
  margin-top: 10px;
  margin-bottom: 20px;
}
.form-main form {
  display: flex;
  justify-content: center !important;
  flex-direction: column;
  align-items: center;
  // margin: auto;
}
.form-main form .form-input{
  width: 20em;
  height: 40px;
  margin-bottom: 10px;
  border-color: blueviolet;
  color: blueviolet;
  border-radius: 20px;
}
.form-main form button{
  width: 20em;
  height: 40px;
  border-color: blueviolet;
}
.signup-click{
  font-size: small;
  padding-top: 10px;
}
.signup-click a{
  font-size: small;
  font-size: medium;
  padding-left: 5px;
  color: green;
  font-weight: 700;
  font-family: sans-serif;
}

.signin-click{
  font-size: small;
  padding-top: 10px;
}
.signin-click a{
  font-size: small;
  font-size: medium;
  padding-left: 5px;
  color: green;
  font-weight: 700;
  font-family: sans-serif;
}
.signup-click a:focus,a:hover{
  text-decoration: underline !important;
  cursor: pointer;
  color: red;
}
.signin-click a:focus,a:hover{
  text-decoration: underline !important;
  cursor: pointer;
  color: red;
}
.form-control-feedback{
  margin-top: -9px;
  color: red;
}
