<h1 class="product-heading">Product Details</h1>
<div class="form-main">
  <form [formGroup]="sellerFormInfo">
    <input
      type="text"
      class="form-input"
      placeholder="Enter Product Name"
      formControlName="name"
      required
    />

    <div
      *ngIf="
        sellerFormInfo.get('name')?.touched &&
        sellerFormInfo.get('name')?.touched
      " class="error"
    >
      <div *ngIf="sellerFormInfo.get('name')?.hasError('required')">
        You need to Enter Name
      </div>
    </div>
    <input
      type="text"
      class="form-input"
      placeholder="Enter Price"
      formControlName="price"
    />
    <div
      *ngIf="
        sellerFormInfo.get('price')?.touched &&
        sellerFormInfo.get('price')?.touched
      " class="error"
    >
      <div *ngIf="sellerFormInfo.get('price')?.hasError('required')">
        You need to Enter Price
      </div>
    </div>
    <input
      type="text"
      class="form-input"
      placeholder="Enter Category"
      formControlName="category"
    />
    <div
      *ngIf="
        sellerFormInfo.get('category')?.touched &&
        sellerFormInfo.get('category')?.touched
      " class="error"
    >
      <div *ngIf="sellerFormInfo.get('category')?.hasError('required')">
        You need to Enter Categoery
      </div>
    </div>
    <input
      type="text"
      class="form-input"
      placeholder="Enter Color"
      formControlName="color"
    />
    <div
      *ngIf="
        sellerFormInfo.get('color')?.touched &&
        sellerFormInfo.get('color')?.touched
      " class="error"
    >
      <div *ngIf="sellerFormInfo.get('color')?.hasError('required')">
        You need to enter color
      </div>
    </div>
    <input
      type="text"
      class="form-input"
      placeholder="Enter Description"
      formControlName="description"
    />
    <div
      *ngIf="
        sellerFormInfo.get('description')?.touched &&
        sellerFormInfo.get('description')?.touched
      " class="error"
    >
      <div *ngIf="sellerFormInfo.get('description')?.hasError('required')">
        You need to enter Description
      </div>
    </div>
    <textarea
      type="text"
      class="form-input"
      placeholder="Enter Image URL"
      formControlName="image"
    ></textarea>
    <div
      *ngIf="
        sellerFormInfo.get('image')?.touched &&
        sellerFormInfo.get('image')?.touched
      " class="error"
    >
      <div *ngIf="sellerFormInfo.get('image')?.hasError('required')">
        You need to enter user name
      </div>
    </div>
    <button class="submit-click" (click)="sellerFormData(sellerFormInfo.value)">
      Submit
    </button>
  </form>
</div>

<div class="alert" [class.visible]="isVisible">
  Sucess<i class="bi bi-bag-check"></i>
</div>

