@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
html,body {
  background: url(./assets/background2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
//
.carousel-control-next-icon, .carousel-control-prev-icon{
  background-color:#3e14d88a;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
