.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0 25px 100px;
  border-bottom: 1px solid white;
  padding-bottom: 25px;
}

p:nth-child(2) {
  font-weight: 600;
}

p:nth-child(1) {
  font-weight: 600;
  font-size: 25px;
}

.product-container a{
  text-decoration: none;
}

.product-container a img {
  width: 200px;
  height: 200px;
  margin-right: 33px;
}
.product-container p {
  margin: 10px;
}

.item-lists{
  margin-top: -30px;
}
